
@model List<Calisan> 


<div class="container mt-5">
    <h1>Admin Paneli</h1>

    <h2>Çalışanlar</h2>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Çalışan Id</th>
				<th>Adı</th>
				<th>Uzmanlık Alanları</th>
				<th>İş Başı Saati</th>
                <th>İş Bitiriş Saati</th>
                <th>Çalıştığı Salon Id</th>

                
				

                
            </tr>
        </thead>
        <tbody>
            @foreach (var calisan in Model)
            {


                <tr>
                    <td>@calisan.CalisanId</td>
                    <td>@calisan.CalisanAdi</td>
                    <td>@calisan.UzmanlikAlani</td>
                    <td>@calisan.UygunlukBaslangic</td>
                    <td>@calisan.UygunlukBitis</td>
                    <td>@calisan.SalonId</td>
				</tr>
			}





		</tbody>
    </table>

    