
@model List<Calisan> 


<div class="container mt-5">
    <div class=" row pt-3 pb-4">

        <div>
            <h2>Çalışanlar</h2>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Çalışan Id</th>
				<th>Adı</th>
				<th>Uzmanlık Alanları</th>
				<th>İş Başı Saati</th>
                <th>İş Bitiriş Saati</th>
                <th>Çalıştığı Salon Id</th>

                
				

                
            </tr>
        </thead>
        <tbody>
            @foreach (var calisan in Model)
            {


                <tr>
                    <td>@calisan.CalisanId</td>
                    <td>@calisan.CalisanAdi</td>
                    <td>@calisan.UzmanlikAlani</td>
                    <td>@calisan.UygunlukBaslangic</td>
                    <td>@calisan.UygunlukBitis</td>
                    <td>@calisan.SalonId</td>
				</tr>
			}





		</tbody>
    </table>

        <div class="row pt-3 pb-2">
             <div>
                 <a asp-controller="Calisan" asp-action="CalisanEkle" class="btn btn-lg btn-primary" type="button">
                    Yeni Çalışan Oluştur
                 </a>
             </div>    
        
        </div>


    </div>
    